<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
   <servlet-name>servlet</servlet-name>
   <servlet-class>DemoServlet</servlet-class>
</servlet>
<context-param>
   <param-name>uname</param-name>
   <param-value>Swati</param-value>
</context-param>
<context-param>
   <param-name>email</param-name>
   <param-value>abcd@gmail.com</param-value>
</context-param>

</web-app>